.popup-Register{
  position: fixed;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  padding: 2em 2em;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  font-family: Times New Roman;
  border-radius: 3px;
}
.popup-Register h3{
  margin-bottom: 1.2em !important;
  font-weight: normal;
}
.popup-Register button{
  padding: .6em 2em;
  height: auto;
}